<% include ./partials/header %> 


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center"><img src="/stylesheets/help-io.png"> </div>
    <div class="col"></div>
  </div>
  
</div>


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center white-text"><h4><i class="far fa-user-circle icon mx-2 "></i>John Mike's Profile</h4></div>
    <div class="col"></div>
  </div>
  
</div>

<table class="table px-2 mx-4">
  <thead class="blue-on-black">
    <tr>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Sex</th>
    </tr>
  </thead>
  <tbody class="black-on-grey">
      
      
      
      
      <a href="/user">
    <tr>
      <th scope="row">182 cm</th>
      <td>170 lbs</td>
      <td>Male</td>
    </tr>
      </a>
    
  
    
  </tbody>
</table>



</div>
<% include ./partials/footer %> 
