<% include ./partials/header %> 

<!--<h1>Help.io</h1>-->

<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center"><img src="/stylesheets/help-io.png"></div>
    <div class="col text-right white-text ">
      <h6>Log out</h6>
    </div>
  </div>
  
</div>


<div class="container mb-5">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center"><h3 class="white-text">Doctor's Dashboard</h3></div>
    <div class="col text-right">
      <form>
    <input type="text" placeholder="Search...">
    <button><i class="fas fa-search"></i></button>
</form>
    </div>
  </div>
  
</div>




<table class="table px-2 mx-4">
  <thead class="blue-on-black">
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody class="black-on-grey">
      
      
      
      
      <a href="/user">
    <tr>
      <th scope="row">1</th>
      <td><a class="link" href="/show">Santiago Aguilar</a></td>
      <td>santi@email.com</td>
      <td>905 123 4567</td>
    </tr>
      </a>
    
   <a href="/user">
    <tr>
      <th scope="row">2</th>
      <td><a class="link" href="show">John Mike</a></td>
      <td>jmike@gmail.com</td>
      <td>905 834 2043</td>
    </tr>
      </a>
      
    <a href="/user">
    <tr>
      <th scope="row">3</th>
      <td><a class="link" href="show">Alexia Chang</a></td>
      <td>lex.chang@hotmail.com</td>
      <td>289 243 4267</td>
    </tr>
      </a>
    
  </tbody>
</table>



<% include ./partials/footer %> 
