<% include ./partials/header %> 


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center"><img src="/stylesheets/help-io.png"> </div>
    <div class="col"></div>
  </div>
  
</div>


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center white-text"><h4><i class="far fa-user-circle icon mx-2 "></i>John Mike's Profile</h4></div>
    <div class="col"></div>
  </div>
  
</div>

<table class="table px-2 mx-4">
  <thead class="blue-on-black">
    <tr>
      <th scope="col">Past Doctors</th>
      <th scope="col">Number of Visits</th>
    </tr>
  </thead>
  <tbody class="black-on-grey">
      
      
      <a href="/user">
    <tr>
      <th scope="row">Dr. Leopold Day</th>
      <td>4</td>
      
    </tr>
      </a>
      <tr>
      <th scope="row">Dr. Samirah Bruce</th>
      <td>11</td>
      
    </tr>
    
  
    
  </tbody>
</table>



</div>
<% include ./partials/footer %> 
