<% include partials/header %>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
  <a class="navbar-brand" href="#"><i class="fas fa-user-md "></i>Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  </div>
</nav>

<h1>Landing Page!</h1>

<!--top bar with buttons-->
<div>
    
    <a class="btn btn-primary" href="/login">Login</a>
    


</div>
<!--second bar with description-->
<div>
    <p>
        Phasellus accumsan at lorem eu accumsan. Cras tincidunt odio mauris, et pharetra ipsum fringilla non. Donec sit amet lacus non risus faucibus hendrerit. Sed non tortor vitae neque elementum egestas. Morbi auctor commodo risus lacinia commodo. Integer euismod porttitor elit, non ornare magna tempor eu. Vivamus quis felis id lorem laoreet semper non feugiat odio.


    </p>
</div>


<% include partials/footer %>