<% include ./partials/header %> 


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center mb-5"><img src="/stylesheets/help-io.png"></div>
    <div class="col text-right white-text ">
      <h6>Log out</h6>
    </div>
  </div>

<div class="container rounded">
    <div class="row">
        <div class="col"></div>
        <div class="col text-center my-2"><input class="rounded mx-auto " type="email" name="email" placeholder="Email"></div>
        <div class="col"></div>

    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center my-2"><input class="rounded" type="password" name="password" placeholder="password"></div>
        <div class="col"></div>

    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center mt-4 mb-3"> <a href="/dashboard" class=" btn rounded mx-auto blue-on-black"  >Login</a></div>
        <div class="col"></div>

    </div>
    
    <div class="row">
        <div class="col"></div>
        <div class="col text-center"> 
        <p class="white-text">
            New Doctor? Call 1 800-444-3473 to Register
            </p></div>
        <div class="col"></div>

    </div>

<!--    <form  action="/login" method="POST">-->
        
<!--        <div class="mx-auto">    <input class="rounded mx-auto" type="email" name="email" placeholder="Email">-->
<!--        </div>-->
<!--        <div>    <input class="rounded" type="password" name="password" placeholder="password">-->
<!--        </div>-->
<!--        <div class="mx-auto">    <a class="rounded mx-auto blue-on-black" type="submit" value="Login!">-->
<!--        </div>-->
        
<!--    </form>-->

<!--<p class="white-text">-->
<!--    Call to register-->
<!--</p>-->
    
</div>




<% include ./partials/footer %> 
