<% include ./partials/header %> 


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center"><img src="/stylesheets/help-io.png"> </div>
    <div class="col"></div>
  </div>
  
</div>


<div class="container my-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center white-text"><h4><i class="far fa-user-circle icon mx-2 "></i>John Mike's Profile</h4></div>
    <div class="col"></div>
  </div>
  
</div>



<div class="container text-center">
  <div class="row ">
    <div class="col "><div class="card blue-on-black my-3 mx-auto" style="width: 19rem;">
  <div class="card-body ">
      <i class="fas fa-user-md icon"></i>
    <h5 class="card-title">Bio Data</h5>
    <a href="/bio" class="btn blue-on-black ">More Info</a>
  </div>
</div>

</div>
    <div class="col"><div class="card blue-on-black my-3 mx-auto" style="width: 19rem;">
  <div class="card-body">
            <i class="fas fa-pills icon"></i>

    <h5 class="card-title">Medications</h5>
    <a href="/med" class="btn blue-on-black ">More Info</a>
  </div>
</div></div>
    <div class="w-100"></div>
    <div class="col"><div class="card blue-on-black my-3 mx-auto" style="width: 19rem;">
  <div class="card-body">
            <i class="fab fa-wpforms icon"></i>

    <h5 class="card-title">Patient History</h5>
    <a href="/history" class="btn blue-on-black ">More Info</a>
  </div>
</div></div>
    <div class="col"><div class="card blue-on-black my-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
      <i class="fas fa-chart-line icon"></i>
    <h5 class="card-title">Graphs</h5>
    <a href="/graphs" class="btn blue-on-black ">More Info</a>
  </div>
</div></div>
  </div>
</div>

</div>
<% include ./partials/footer %> 
